
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/admin-nav.ejs') %>
  <div class="container-fluid main-cont py-5">

    <div class="container col-md-10" id="panel1">

      <h2 class="text-center">PRODUCTS</h2>

        <form class="navbar-form" role="search" action="/admin/product/search" method="post">
          <div class="form-group input-group col-md-8">
            <input type="text" class="form-control" placeholder="Search products" name="title" autofocus>
            
              <button class="btn btn-info" type="submit">Search</button>
            
          </div>

          <div class="create-button">
            <a class="btn btn-primary my-3" href="admin/create-user/"> Create New Product</a>
          </div>
          
        </form>
  

      <div class="form-group col-md-12">

        <table class="table table-bordered table-hover">
          <thead>
            <tr class="dropup">
              <th>Thumbnail</th>
              <th>Title</th>
              <th>Brand<span class="caret"></span></th>
              <th>Price</th>
              <th>Stock</th>
              <th>Category</th>
              

              <th></th>
              <th></th>
              
            </tr>
          </thead>
          <tbody>
           
              <% products.forEach(el=>{ %>
                <tr>
              <td><img style="max-height:5rem ; max-width: 7rem;" src="<%= el.thumbnail %>" alt=""></td>
              <td><%= el.title %> </td>
              <td><%= el.brand %></td>
              <td><%= el.price * 80 %></td>
              <td><%= el.stock %></td>
              <td><%= el.category %></td>
              
              <td>
                <a href="/admin/edit-product/<%= el._id %>" class="btn btn-success">Edit</a>
              </td>
              <td>
                <a href="/admin/delete-product/<%= el._id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>

              <% }) %>
          
          </tbody>
        </table>
</body>

</html>