<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <div class="container-fluid main-cont">
    <%- include('./partials/nav.ejs') %>
    <h1>Products</h1>


    <div class="container text-center">
      <div class="row">
        <% productsData.products.forEach(el=>{ %>
        <div class="col-3">

          <div class="card" style="width: 18rem;">
            <img src=<%= el.thumbnail %> class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= el.title %> </h5>
              <p class="card-text"> <%= el.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price : <%= el.price*70 %> </li>
              <li class="list-group-item">Rating : <%= el.rating %></li>

            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Buy Now</a>
              <a href="#" class="card-link">Add to Cart</a>
            </div>
          </div>

        </div>

        <% }) %>
      </div>
    </div>



    <%- include('./partials/footer.ejs') %>
  </div>
</body>

</html>